{% extends 'gest_lab/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Prueba de Malaria y dengue a traves de mineria de datos</h6>		
	</div>
	<div class="card-body">
        <form method="GET">
        	{% csrf_token %}
			<p>Ingrese los datos de la hematologia para evaluarlos con el modelo de mineria de datos</p>
		    <div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Linfocitos.id_for_label}}">{{form.Linfocitos.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Linfocitos}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">%</label>
				</div>
			</div>
			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.MID.id_for_label}}">{{form.MID.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.MID}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">%</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Neutrofilos.id_for_label}}">{{form.Neutrofilos.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Neutrofilos}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">%</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Leucocitos.id_for_label}}">{{form.Leucocitos.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Leucocitos}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">x10³ μl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Eritrocitos.id_for_label}}">{{form.Eritrocitos.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Eritrocitos}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">x10⁶ μl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Hemoglobina.id_for_label}}">{{form.Hemoglobina.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Hemoglobina}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">g/dl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Hematocritos.id_for_label}}">{{form.Hematocritos.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Hematocritos}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">%</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.MCV.id_for_label}}">{{form.MCV.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.MCV}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">fl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.MCH.id_for_label}}">{{form.MCH.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.MCH}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">pg</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.MCHC.id_for_label}}">{{form.MCHC.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.MCHC}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">g/dl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.Plaquetas.id_for_label}}">{{form.Plaquetas.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.Plaquetas}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">x10³ μl</label>
				</div>
			</div>

			<div class="row my-2 w-100">
				<div class="col-md-4">
					<label for="" class="col-form-label" for="{{form.MPV.id_for_label}}">{{form.MPV.label}}</label>
				</div>
				<div class="col-md-4">
					{{form.MPV}}
				</div>
				<div class="col-md-4">
					<label for="" class="col-form-label">fl</label>
				</div>
			</div>	
			<div class="card-footer">
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					Evaluar con el Modelo
				</button>	
			</div>
		</form>
	</div>
</div>
 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="container-fluid">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row">
						<h5 class="modal-title" id="exampleModalLabel">Resultados de la evaluacion del modelo</h5>
					</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">

				</div>		
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}