{% extends 'gest_lab/base.html' %}
{% load static %}
{% block content %}

<!-- <div class="card-body">	
	<div class="card shadow mb-2" >
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary" >Filtros de Busqueda</h6>
		</div>
		<div class="card-body">
			<div class="row" >
				<div class="mb-3 col-3">
					<label class="small mb-1" for="nombre">Cedula</label>
					<input class="form-control" type="text" name="nombre" placeholder="Nombre del cliente">	
				</div>
				<div class="mb-3 col-3">
					<label class="small mb-1" for="nombre">N de orden</label>
					<input class="form-control" type="text" name="apellido" placeholder="Numero de orden del examen">	
				</div>
				<div class="mb-3 col-3">
					<label class="small mb-1" for="nombre">Tipo de examen</label>
					<select class="form-control" id="categoria">
					<option>Seleccione</option>
					<option>Hematologia Completa</option>
					<option>VSG</option>
					<option>Glicemia</option>
					<option>Prueba de Embarazo</option>
					</select>
				</div>
				<div class="row" >
					<div class="col-auto">
						<label class="small mb-1" for="nombre"> </label>
						<div>
							<button class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-search"></i></span>
								<span class="text">Buscar</span>
							</button>
						</div>
					</div>
					<div class="col-auto">
						<label class="small mb-1" for="nombre"> </label>
						<div>
							<button class="btn btn-warning btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-eraser"></i></span>
								<span class="text">Limpiar</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>


 -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Filtros de Busqueda</h6>		
	</div>
	<div class="card-body">
		<form method="GET">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-3">
				<label class="form-label" for="cedula">Cedula</label>
				<input class="form-control" type="text" name="cedula" placeholder="Cedula del cliente">					
			</div>
			<div class="col-md-3">
				<label class="form-label" for="n_orden">Numero de Orden</label>
				<input class="form-control" type="text" name="n_orden" placeholder="# de orden de la Solicitud">
			</div>
			<div class="col-md-3">
				<label class="form-label" for="t_examen">Tipo de examen</label>
				<select class="form-control" type="text" name="t_examen">
					<option disabled selected>Seleccione una opcion</option>
					{% for e in examenes %}
						<option value="{{e.examen_id}}">{{e.examen__nombre}}</option>
					{% endfor %}
				</select>				
			</div>
			<div class="col-md-3 d-inline align-self-end mt-2">
				<div class="d-md-inline">
					<button class="btn btn-primary btn-icon-split ">
						<span class="icon text-white-50"><i class="fas fa-search"></i></span>
						<span class="text">Buscar</span>
					</button>
					<button type="reset" class="btn btn-warning btn-icon-split">
						<span class="icon text-white-50"><i class="fas fa-eraser"></i></span>
						<span class="text">Limpiar</span>
					</button>
				</div>				
			</div>
		</div>
		</form>
		<!-- {{analisis}} -->
		<!-- {{solicitud}} -->
		<!-- {{query}} -->
	</div>
	<div class="card-header">Examenes pendientes cargar resultados</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th># de orden</th>
					<th>Cedula del paciente</th>
					<th>Examen</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for s in solicitud %}
				<tr>
					<td>{{s.n_orden}}</td>
					<td>{{s.cliente__cedula}}</td>
					<td>{{s.examen__nombre}}</td>
					<td>
						<a href="#" class="btn btn-success btn-circle btn-sm">
							<i class="fas fa-eraser"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}