{% extends 'gest_lab/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'funciones.js' %}"></script>

<div id="paciente" class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Registro de Examenes</h6>
	</div>
		<div class="card-body">
			{% if not cli %}
			<form method="GET">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6">
						<label for="cedula_text" class="form-label">Cedula</label>
						<div class="input-group">
						<input class="form-control" type="text" name="cedula_text" id="cedula_text" placeholder="Cedula a Buscar" required>
						<button class="btn btn-primary rounded-right">
							<span class="icon text-white-50">
								<i class="fas fa-search"></i>
							</span>
						</button>
						</div>
					</div>
					<div class="cold-md-2 d-inline align-self-end">
						<div class="d-inline align-self-end">
							<a class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#exampleModal">
								<span class="icon text-white-50">
									<i class="fas fa-user-plus"></i>
								</span>
								<span class="text">Agregar Nuevo</span>
							</a>
						</div>
					</div>
				</div>
			</form>
			{% endif %}
			{% if cli %}
			<div>
				<div class="row">
					<div class="col-md-3">
						<p>Cedula: {{cli.0.cedula}}</p>
					</div>
					<div class="col-md-3">
						<p>Paciente: {{cli.0.nombre}} {{cli.0.apellido}}</p>
					</div>
					<div class="col-md-3">
						<p>Sexo: {% if cli.0.sexo_id == 1 %}Femenino{% endif %}{% if cli.0.sexo_id == 2 %}Masculino{% endif %}</p>
					</div>
					<div class="col-md-3">
						<p>Edad: {{cli.0.edad}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p>Direccion: {{cli.0.direccion}}</p>
					</div>
					<div class="col-md-3">
						<p>Telefono: {{cli.0.telefono}}</p>
					</div>
					<div class="col-md-3">
						<p>Fecha de Registro: {{fecha}}</p>
					</div>
					<div class="col-md-3">
						<p>Numero de Orden: {{n_orden}}</p>
					</div>
				</div>
			</div>
			{% endif %}
	</div>
</div>

			
{% if cli %}
<div id="examnes" class="card shadow mb-4">
	<div class="card-header">
		<div class="row">
			<div class="col-md-1">
				<label class="col-form-label font-weight-bold" for="categoria_select">Categoria</label>
			</div>
			<div class="col-md-4">
				<select id="categoria_select" class="form-control">
					<option disabled selected>Seleccione una opcion</option>
					{% for c in categorias %}
						<option value="{{c.id}}">{{c.nombre}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-1">
				<label class="col-form-label font-weight-bold" for="examen_select">Examen</label>
			</div>
			<div class="col-md-4">
				<select id="examen_select" class="form-control">
					<option disabled selected>Seleccione una opcion</option>
					{% for e in examenes %}
						<option value="{{e.id}}" label="{{e.nombre}}">{{e.precio}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-success btn-icon-split" id="agregar_btn" onclick="agregar()">
					<span class="icon text-white-50"><i class="fas fa-plus"></i></span>
					<span class="text">Agregar</span>
				</button>
			</div>
		</div>
	</div>
	<div class="card-body">
			<div id="lista_examenes">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Examen a realizar</th>
							<th>Precio</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="txxx">
<!-- 						<tr>
							<td>Hematologia Completa</td>
							<td>5$</td>
							<td><button class="btn btn-danger btn-circle btn-sm" type="button"><i class="fas fa-trash" onclick="onClickRemove(this)"></i></button></td>
						</tr> -->
					</tbody>
					<tfoot>
						<tr>
							<td>Total</td>
							<td id="total"></td>
							<td>
								<button class="btn btn-success btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-print"></i></span>
								<span class="text">Generar Solicitud</span>
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- {{cli}} -->
	</div>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="m-0 font-weight-bold text-primary">Datos del Paciente</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">
					{% csrf_token %}
					<div class="row mb-3">
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.cedula.id_for_label}}">{{form.cedula.label}}</label>
							{{form.cedula}}
						</div>
						<div class="col-md-6">
							<!-- check para no cedulado	-->
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.nombre.id_for_label}}">{{form.nombre.label}}</label>
							{{form.nombre}}
						</div>
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.apellido.id_for_label}}">{{form.apellido.label}}</label>
							{{form.apellido}}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.f_nac.id_for_label}}">{{form.f_nac.label}}</label>
								<div class="d-flex justify-content-center">
									{{form.f_nac}}
								</div>
						</div>
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.sexo.id_for_label}}">{{form.sexo.label}}</label>
							<div>
								<div class="form-check form-check-inline">
									{% for x in form.sexo %}
										<div class="mr-2">
											{{x}}
										<!-- <label class="form-check-label" for="{{x.id_for_label}}">{{x.label}}</label> -->
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.telefono.id_for_label}}">{{form.telefono.label}}</label>
							{{form.telefono}}
						</div>
						<div class="col-md-6">
							<label class="small mb-1 form-label" for="{{form.direccion.id_for_label}}">{{form.direccion.label}}</label>
							{{form.direccion}}
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary"> Guardar Cliente </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

var arr = []

function sumarTotal() {
	var table = document.getElementById("txxx");
	let subTotal = Array.from(table.rows).slice(0).reduce((total, row) => {
		return total + parseFloat(row.cells[1].innerHTML);
	}, 0);
	document.getElementById("total").innerHTML = subTotal.toFixed(2) + " $";
    
    examen = Array.from(table.rows).slice(-1)[0].cells[3].textContent
    if(!arr.includes(examen))
    {
		arr.push(examen);
    }

	console.log(arr);
}
	
function agregar() {
	// alert("desde el archivo");
	var examen = document.getElementById("examen_select");
	var nombre = examen.options[examen.selectedIndex].label;
	var precio = examen.options[examen.selectedIndex].text;
	var id = examen.options[examen.selectedIndex].value;

	
	if(arr.includes(id))
	{
		alert("ya se ha agregado "+ nombre + " a la solicitud");
	}
	else
	{
		var table = document.getElementById("txxx");
		var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);
		var cell4 = row.insertCell(3)
		cell1.innerHTML = nombre;
		cell2.innerHTML = precio;
		cell3.innerHTML = '<button class="btn btn-danger btn-circle btn-sm" type="button"><i class="fas fa-trash" onclick="eliminar(this)"></i></button>';
		cell4.innerHTML = id;
		sumarTotal();
	}
}

function eliminar(deleteButton) {
	let row = deleteButton.parentElement.parentElement.parentElement;
	// elimino del arreglo de examenes el slecciono para borrar
	arr = arr.filter(item => item != row.lastChild.textContent);
	// elmino el examen de la solicitud
	row.parentNode.removeChild(row);


	sumarTotal();
}

</script>



{% endblock %}